@charset "utf-8";


/* Notes */

/* Link to animation tutorial: https://www.youtube.com/watch?v=fUp_EWMU9LI */

/* Free stock images were taken from unsplash */


.hidden
{
  display: none;
}



#container
{
  width: 1020px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

#mainHeader
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainNav
{
  width: 650px;
  height: 60px;
  background-color: #D12027;
  margin-left: 0 auto;
}

#mainNav ul
{
    padding-top: 0;
    margin-top: 20px;
}

#mainNav ul li
{
    font-size: 16px;
    font-family: Poppins, Arial, sans-serif;
    display: inline;
    margin-left: 15px;
}

#mainNav ul li a
{
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

#mainNav ul li a:hover
{
    background-color: #fff;
    color: #000;
}

.selected
{
    padding: 10px 0 10px 0;
    background-color: #000;
    border-radius: 10px;
}













h2
{
  font-family: Hind, Arial, sans-serif;
  font-size: 30px;
  color: #444;
  padding: 20px 20px 0 20px;
}

p
{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #444;
  padding: 20px 20px 0 20px;
}

.smallText
{
  font-size: 14px;
  line-height: 18px;

}







#logo
{
  width: 200px;
  height: 60px;
  background-color: #D12027;
}

#mainFooter
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #D12027;
}

#footerNav
{
  width: 650px;
  height: 60px;
  margin-left: 0 auto;
}

#copyRight
{
  width: 290px;
  height: 60px;
}

#copyRight p
{
  color: #fff;
  margin-right: 0 auto;
  
}





#footerNav ul
{
    padding-top: 0;
    margin-top: 20px;
}

#footerNav ul li
{
    font-size: 16px;
    font-family: Poppins, Arial, sans-serif;
    display: inline;
    margin-left: 15px;
}

#footerNav ul li a
{
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

#footerNav ul li a:hover
{
    background-color: #fff;
    color: #000;
}




/* index.html */

#hero
{
  margin-top: 10px;
  display: flex;
  width: 1020px;
  height: 500px;
  background-color: #000; 
}

#brandIntro 
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brandIntroText
{
    width: 410px;
    height: 400px;
}



#brandIntroImage
{
    width: 600px;
    height: 400px;
    background-color: #000;
}

#promo
{
  display: flex;
  width: 1020px;
  height: 400px;
  background-color: #000;
  margin-top: 10px;
}


#underLineHome
{
  height: 6px;
  width: 350px;
  background-color: red;
  margin-left: 20px;
  animation: bounce 1s alternate infinite;
}

#underLineAbout
{
  height: 6px;
  width: 450px;
  background-color: red;
  margin-left: 20px;
  animation: bounce 1s alternate infinite;
}

@keyframes bounce
{
  0% { transform: translate(0px); }
  100% { transform: translate(10px); }
}



/* products.html */

.pageHero
{
  display: flex;
  width: 1020px;
  height: 400px;
  background-color: #000;
  margin-top: 10px;
}

.product
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.productImage
{
    width: 710px;
    height: 350px;
}

.productText
{
    width: 300px;
    height: 350px;
}

.productName
{
  font-family: Lobster, Arial, sans-serif;
}


/* advertisements.html */

.advertisementCon
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 500px;
    height: 300px;
}

.advertisementL
{
  width: 500px;
  height: 300px;
}

.advertisementR
{
  width: 500px;
  height: 300px;
  margin-left: 20px;
}


/* about.html */

#about
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#aboutText
{
    width: 710px;
    height: 580px;
}

#aboutImage
{
    width: 300px;
    height: 350px;
}



/* purchase.html */

#purchaseCon
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#purchaseCon h2
{
  color: #fff;
}

#purchaseCon p
{
  color: #fff;
}

#purchaseRight
{
    width: 500px;
    height: 500px;
    background-color: #444;
}

#purchaseLeft
{
    width: 500px;
    height: 500px;
    background-color: #D12027;
    color: #fff;
}



.iconLinked
{
  margin-left: 115px;
  padding: 30px;
}

.iconLinked img:hover 
{
  opacity: 0.5;
}




/*Form Start*/
#contactForm
{
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

input
{
    display: block;
    padding: 10px;
    width: 300px;
    height: 10px;
    border: 1px solid #999;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

#submit
{
    width: 75px;
    height: 30px;
    background-color: #2e5984;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #003471;
    border-radius: 10px;
}

#submit:hover
{
    background-color: #1e3f5d;
}
/*Form End*/